.navbar-styles{
	background-color: black;
  	padding: 10px;
}

.mask{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0.5%;
	
}

.itens-styles li a{
	color: white;
}

.itens-styles li a:hover{
	color: #c3c3c3;
}

.dp-menu{
	background-color: #031634;
}
.dp-menu:hover{
	color: white;
}

/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}